{% extends 'd_content.html' %}


{% block d_content %}
<div class="w-full">
    <table class="w-full table-auto">
        <tr class="grid grid-cols-3 gap-4 border-b border-[#868E96]">
            <th class="py-3 text-left ">Patient</th>
            <th class="py-3 text-left">Date Sent</th>
            <th class="py-3 text-left"> </th>
        </tr>
    </table>
    <table class="w-full table-auto">
        <!-- for loop iteration through all patients  -->
        <tr class="grid grid-cols-3 gap-4 py-4">
            <td>Name</td>
            <td>Date sent</td>
            <td class="text-right p-2">
                <form action="{{ url_for('redirect_doctor_to_patient_log', doctor_id={{doctor_id}}) }}" method="POST">
                    <button id="view-log" class="bg-[#63A3B0] rounded-lg text-white"> 
                        <!-- -{{loop.index}} -->
                        View Log
                    </button>
                </form>
            </tr>
            <!-- </fo -->

        </tr>
      </table>
</div>


</div>



{% endblock %}

