{% extends 'd_content.html' %}


{% block d_content%}
<style>
    /* Add vertical spacing to list items */
    #nameList li, #emailList li, #dobList li {
        margin-bottom: 10px; /* Adjust the value as needed */
    }
</style>
<div id="page-container" class="grid grid-cols-2 gap-x-4'">
    <!-- Left Side Content -->
    <div id="left-side" class="m-10 mx-56 col-span-2 h-screen">
        <div class="flex justify-between mb-10">
            <input type="text" id="search" class="p-2 w-3/5 rounded-lg bg-[#ffffff] border border-[#868E96]"
                placeholder="Search for a patient..." onkeyup="searchPatients()">
            <button id="add-patient-btn" class="p-2 rounded-lg bg-[#DFC623] text-white">Add Patient</button>

        </div>
        <div class="w-full">
            <table class="w-full table-auto">
                <tr class="grid grid-cols-4 gap-4 border-b border-[#868E96]">
                    <th class="py-3 text-left ">Patient Name</th>
                    <th class="py-3 text-left ">Patient Email</th>
                    <th class="py-3 text-left">Date of Birth</th>
                    <th class="py-3 text-left"> </th>
                </tr>
                <!-- for loop iteration through all patients  -->
                 {{for patient in patients}}
                <tr class="grid grid-cols-4 gap-4 py-4 patient-row">
                    <td class="patient-name">
                        {{}}
                    </td>
                    <td class="patient-email">
                        <ul id="emailList"></ul>
                    </td>
                    <td class="patient-dob">
                        <ul id="dobList"></ul>
                    </td>
                    <td class="patient-delete text-right p-2">
                        <ul id="deleteList"></ul>

                    </td>
                </tr>
                <!-- Add more patient rows as needed -->
            </table>
        </div>
    </div>

    <!-- Right Side Content -->
    <div id="right-side" class="hidden">
        <div class="p-10 bg-[#E1E1E1]">
            <button id="close-svg" class="w-full mb-5">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5"
                    viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z" />
                </svg>
            </button>
            <div class="p-3">
                <h1 class="font-bold text-2xl mb-5">Patient Details</h1>

                <form action="/" method="POST">
                    <span>
                        <label for="fname" class="font-medium mr-4">Full Name:</label>
                        <input type="text" id="patient_fullname" name="patient_fullname"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4">Date of Birth:</label>
                        <input type="text" id="patient_dob" name="patient_dob"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">


                        <!-- <div class="relative max-w-sm">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input id="datepicker-format" datepicker datepicker-format="mm-dd-yyyy" type="text"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Select date">
                        </div> -->

                    </span>
                    <br><br>
                    <span>
                        <label for="sex" class="font-medium mr-4" id="sex">Sex (male/female): </label>
                        <input type="text" id="patient_sex" name="patient_sex" class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4" id="bcServicesCard">BC Service Card ID:</label>
                        <input type="text" id="patient_service_id" name="patient_service_id"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4" id="address">Address:</label>
                        <input type="text" id="patient_address" name="patient_address"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4" id="email">Email:</label>
                        <input type="text" id="patient_email" name="patient_email"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4" id="phoneNumber">Phone Number:</label>
                        <input type="text" id="patient_phone_num" name="patient_phone_num"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4" id="height">Height (cm):</label>
                        <input type="text" id="patient_height" name="patient_height"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4" id="weight">Weight (kg):</label>
                        <input type="text" id="patient_weight" name="patient_weight"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <span>
                        <label for="lname" class="font-medium mr-4" id="allergies">Allergies:</label>
                        <input type="text" id="patient_allergies" name="patient_allergies"
                            class="p-2 rounded-lg bg-[#ffffff] border border-[#868E96]">
                    </span>
                    <br><br>
                    <button type="submit" id="add-patient" class="p-2 rounded-lg bg-[#DFC623] text-white">Add
                        Patient</button>
                </form>
                <div>
                </div>
            </div>
        </div>

        {% endblock %}


        {% block script %}
        <script>
            const openPopupButton = document.getElementById('add-patient-btn');
            const add_patient = document.getElementById('add-patient');
            const close_svg = document.getElementById('close-svg');
            const right_side = document.getElementById('right-side');
            const left_side = document.getElementById('left-side');

            openPopupButton.addEventListener('click', () => {
                right_side.classList.remove('hidden');
                left_side.classList.remove('mx-56');
                left_side.classList.remove('h-screen');
                left_side.classList.remove('col-span-2');
            });


            add_patient.addEventListener('click', () => {
                right_side.classList.add('hidden');
                left_side.classList.add('mx-56');
                left_side.classList.add('col-span-2')
                left_side.classList.add('h-screen');


            });
            close_svg.addEventListener('click', () => {
                right_side.classList.add('hidden');
                left_side.classList.add('mx-56');
                left_side.classList.add('col-span-2')
                left_side.classList.add('h-screen');
            });

            const response = fetch('/list_patients', {
                method: 'GET',
            }).then(response => response.json())
                .then(data => {
                    const emailList = document.getElementById('emailList');
                    const nameList = document.getElementById('nameList');
                    const dobList = document.getElementById('dobList')
                    const deleteList = document.getElementById('deleteList')
                    data.emails.forEach((email, index) => {
                        const name = data.names[index];
                        const dob = data.dob[index];

                        // Create list items for each patient
                        const nameLi = document.createElement('li');
                        nameLi.textContent = name;
                        nameLi.style.cursor = 'pointer'; // Make it look clickable
                        nameLi.addEventListener('click', () => {
                            // Redirect to the patient's med log page
                            window.location.href = `/d_patient_med_log/${email}`;
                        });
                        nameList.appendChild(nameLi);

                        const emailLi = document.createElement('li');
                        emailLi.textContent = email;
                        emailList.appendChild(emailLi);

                        const dobLi = document.createElement('li');
                        dobLi.textContent = dob;
                        dobList.appendChild(dobLi);


                        const deleteLi = document.createElement('li');
                        const deleteButton = document.createElement('button');

                        // SVG content as a string
                        const svg_content = `
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5"
                            viewBox="0 0 448 512">
                            <path
                                d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z" />
                        </svg>`
                        ;

                        // Add the SVG to the button's innerHTML
                        deleteButton.innerHTML = svg_content;

                        // Append the button to the list item
                        deleteLi.appendChild(deleteButton);

                        // Assuming deletebList is defined as the parent element
                        deleteList.appendChild(deleteLi);

                        
                    });
                    
                }).catch(err => console.error('Error fetching users:', err));

            // function displayPatients() {
            //     const patientListElement = document.getElementById('patientList');
            //     patientListElement.innerHTML = ""; // Clear the current list

            //     // Loop through the patients and create list items
            //     patients.forEach(patient => {
            //         const listItem = document.createElement('li');
            //         listItem.className = 'patient-item';
            //         listItem.innerHTML = `${patient.name} - ${patient.dob}`; // Name and DOB format
            //         patientListElement.appendChild(listItem);
            //      });
            // }

            // Event listener to open the pop-up


            function searchPatients() {
                const searchInput = document.getElementById('search').value.toLowerCase();
                const patientRows = document.querySelectorAll('.patient-row');

                patientRows.forEach(row => {
                    const name = row.querySelector('.patient-name').textContent.toLowerCase();
                    const dob = row.querySelector('.patient-dob').textContent.toLowerCase();

                    if (name.includes(searchInput) || dob.includes(searchInput)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }

        </script>


        {% endblock %}