{% extends 'd_content.html' %}


{% block d_content%}

<div id="page-container" class="">
    <!-- Left Side Content -->
    <div id="left-side" class="m-10 mx-56 ">
        <div class="flex justify-between mb-10 items-center">
            <p class="text-3xl font-bold">Patient's Med Log</p>
            <button id="add-patient-btn" class="p-2 rounded-lg bg-[#DFC623] text-white">Add Log</button>

        </div>
        <div class="w-full"> 
            <!-- iterate through all med logs of that patient  -->
                <div class="w-full bg-[#BDCAD6] rounded-lg focus:border focus:border-[#FF6969] p-7 mb-4">
                    <span class="flex items-center justify-between px-10 pb-2">
                        <p>Date<p>
                        <div class="border border-white rounded-3xl p-2">Mode</div>
                    </span>
                    <hr class="bg-[#868E96]">
                    <p class="italic text-[#3E4B52]">Paragrpah about diagnosis</p>
                </div>
        </div>
    </div>

    <!-- Right Side Content -->
    <div id="right-side" class="translate-x-full ">
        <div class="p-10 bg-[#E1E1E1]">
            <button id="close-svg" class="w-full mb-5">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5"
                    viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z" />
                </svg>
            </button>
            <div class="p-3">
                <h1 class="font-bold text-2xl mb-5">New Med Log Entry</h1>

                <form action="/" method="POST">
                    <span class="flex items-center space-x-4 mb-5">
                        <div>
                            <label for="fname" class="mr-4">Date:</label>
                            <input type="text" id="new_log_date" name="new_log_date" class="p-1 rounded-lg bg-[#ffffff] border border-[#868E96]">
                        </div>
                        <div>
                        <select id="mode" name="option" class="p-1 border rounded-lg focus:outline-none focus:ring-1 focus:ring-indigo-500">
                            <option value="" disabled selected>Select Mode</option>
                            <option value="text">Text</option>
                            <option value="in-person">In-person</option>
                            <option value="phone">Phone</option>
                        </select>
                    </div>
                    </span>
                    <label for="lname" class="font-semibold text-large mr-4">Personal Notes</label><br>
                    <textarea id="new_log_personal_notes" name="new_log_personal_notes" class="p-1 w-full rounded-lg bg-[#ffffff] border border-[#868E96]"></textarea><br><br>

    
                    <label for="lname" class="font-semibold text-large mr-4">Doctor's diagnosis</label><br>
                    <textarea id="new_log_doctor_diagnosis" name="new_log_doctor_diagnosis" class="p-1 w-full rounded-lg bg-[#ffffff] border border-[#868E96]"></textarea><br><br>
    
                    <label for="lname" class="font-semibold text-large mr-4">Medications</label><br>
                    <textarea id="new_patient_address" name="new_patient_address" class="p-1 w-full rounded-lg bg-[#ffffff] border border-[#868E96]"></textarea><br><br>

                    
                    <button type="submit" id="add-log" class="p-2 rounded-lg bg-[#DFC623] text-white">Add Log</button>
                </form>
                <div>
                </div>
            </div>
        </div>

        {% endblock %}



        {% block script %}
        <script>

            //    function displayPatients() {
            //         const patientListElement = document.getElementById('patientList');
            //         patientListElement.innerHTML = ""; // Clear the current list

            //         // Loop through the patients and create list items
            //         patients.forEach(patient => {
            //             const listItem = document.createElement('li');
            //             listItem.className = 'patient-item';
            //             listItem.innerHTML = `${patient.name} - ${patient.dob}`; // Name and DOB format
            //             patientListElement.appendChild(listItem);
            //         });
            //     }

            const openPopupButton = document.getElementById('add-patient-btn');
            const add_log = document.getElementById('add-log');
            const close_svg = document.getElementById('close-svg');
            const right_side = document.getElementById('right-side');
            const left_side = document.getElementById('left-side');
            const page_container = document.getElementById('page-container')

            // Event listener to open the pop-up
            openPopupButton.addEventListener('click', () => {
                page_container.classList.add('grid', 'grid-cols-2', 'gap-4')
                right_side.classList.remove('translate-x-full');
                right_side.classList.add('translate-x-0');
                left_side.classList.remove('mx-56');

            });

            // Event listener to close the pop-up
            add_log.addEventListener('click', () => {
                page_container.classList.remove('grid', 'grid-cols-2', 'gap-4')
                right_side.classList.add('translate-x-full');
                right_side.classList.remove('translate-x-0');
                left_side.classList.add('mx-56');
            });
            close_svg.addEventListener('click', () => {
                page_container.classList.remove('grid', 'grid-cols-2', 'gap-4')
                right_side.classList.add('translate-x-full');
                right_side.classList.remove('translate-x-0');
                left_side.classList.add('mx-56');
            });



        </script>


        {% endblock %}

