{% extends 'd_content.html' %}
    

{% block d_content%}

<div class="">
    <!-- Left Side Content -->
    <div id="left-side" class="w-full">
        <div>
            <input type="text" id="search" class="p-2 rounded-lg bg-[#ffffff] border-1 border-[#868E96]" placeholder="Search for a patient..." onkeyup="searchPatients()">
            <button id="add-patient-btn"
            class="p-2 rounded-lg bg-[#DFC623] text-white">Add Patient</button>

        </div>
        <div>
            <ul id="patientList">
                <!-- Patient list here -->
            </ul>
        </div>
    </div>

    <!-- Right Side Content -->
    <div id="right-side" class="translate-x-full">
        <h1>Patient Details</h1>
        <p>
            <form action="">
                <label for="fname">Full Name:</label>
                <input type="text" id="new_patient_full_name" name="new_patient_full_name"><br><br>
                <label for="lname">Date of Birth:</label>
                <input type="text" id="new_patient_date_of_birth" name="new_patient_date_of_birth"><br><br>
                <label for="lname">BC Service Card ID:</label>
                <input type="text" id="new_patient_BC_service_sard_ID" name="new_patient_BC_service_card_ID"><br><br>
                <label for="lname">Address:</label>
                <input type="text" id="new_patient_address" name="new_patient_address"><br><br>
                <label for="lname">Email:</label>
                <input type="text" id="new_patient_email" name="new_patient_email"><br><br>
                <label for="lname">Phone Number:</label>
                <input type="text" id="new_patient_phone_number" name="new_patient_phone_number"><br><br>
                <label for="lname">Height (cm):</label>
                <input type="text" id="new_patient_height" name="new_patient_height"><br><br>
                <label for="lname">Weight (kg):</label>
                <input type="text" id="new_patient_weight" name="new_patient_weight"><br><br>
                <label for="lname">Allergies:</label>
                <input type="text" id="new_patient_allergies" name="new_patient_allergies"><br><br>
                <input type="submit" value="Add Patient">
              </form>
        </p>
    </div>
</div>

{% endblock %}



{% block script %}
<script>
    
//    function displayPatients() {
//         const patientListElement = document.getElementById('patientList');
//         patientListElement.innerHTML = ""; // Clear the current list
        
//         // Loop through the patients and create list items
//         patients.forEach(patient => {
//             const listItem = document.createElement('li');
//             listItem.className = 'patient-item';
//             listItem.innerHTML = `${patient.name} - ${patient.dob}`; // Name and DOB format
//             patientListElement.appendChild(listItem);
//         });
//     }

const openPopupButton = document.getElementById('add-patient-btn');
const closePopupButton = document.getElementById('close-popup');
const right_side = document.getElementById('right-side');
const left_side = document.getElementById('left-side');

// Event listener to open the pop-up
openPopupButton.addEventListener('click', () => {
    right_side.classList.remove('translate-x-full');
    right_side.classList.add('translate-x-0');
    right_side.classList.add('translate-x-0');
});

// Event listener to close the pop-up
closePopupButton.addEventListener('click', () => {
  popup.classList.remove('translate-x-0');
  popup.classList.add('translate-x-full');
});

    function addPatientButtonClicked() {

    }
    
</script>


{% endblock %}