<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedLinks</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
  <div class="bg-[#f1f1f1] h-screen">

  {% block p_nav %} {% endblock %}
  {% block d_nav %} {% endblock %}

  
  
    {% block p_content %} {% endblock %}
    {% block d_content %} {% endblock %}

    
  
  {% block script %} {% endblock %}
  </div>
</body>
</html>

