<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedLinks</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <input type="text" id="fullname" placeholder="Full Name" name="fullname" required><br>
        <input type="text" id="email" placeholder="Email" name="email" required><br>
        <input type="password" id="password" placeholder="Password" name="password" required><br>
        <button type="submit">Register</button>
    </form>

    <script>
        // Register Form Submission
        // document.getElementById('registerForm').addEventListener('submit', async function(event) {
        //     event.preventDefault();
        //     const password = document.getElementById('registerPassword').value;
        //     const email = document.getElementById('registerEmail').value;
        //     const fullName = document.getElementById('registerFullName').value;

        //     const response = await fetch('/register', {
        //         method: 'POST',
        //         headers: { 'Content-Type': 'application/json' },
        //         body: JSON.stringify({ password, fullName, email})
        //     });

        //     const result = await response.json();
        //     alert(result.message || result.error);
        // });
    </script>
</body>
</html>